server:
  port: 8888

spring:
  application:
    name: property-config-server
  cloud:
    config:
      enabled: false
      server:
        git:
          uri: https://github.com/RRV2018/property-config-server.git
          default-label: main

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
    instance:
      preferIpAddress: true
