server:
  port: 8761

spring:
  application:
    name: spring-boot-eureka-server
  config:
    import: configserver:http://localhost:8888

  cloud:
    config:
      fail-fast: true
      retry:
        max-attempts: 10
        initial-interval: 2000    # 2 sec
        multiplier: 1.5
        max-interval: 10000

eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false