server:
  port: 8761

spring:
  application:
    name: spring-boot-eureka-server
  main:
    allow-bean-definition-overriding: true
  cloud:
    config:
      enabled: false
      fail-fast: true
      retry:
        max-attempts: 10
        initial-interval: 2000    # 2 sec
        multiplier: 1.5
        max-interval: 10000

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
  client:
    registerWithEureka: false
    fetchRegistry: false

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n"

LOG_PATTERN: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: health
